@import "Styles/variable.scss";
.wholeList {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  min-height: 50vh;
  align-items: center;
  &__table {
    width: 80vw;
    overflow: hidden;
    white-space: nowrap;
    border-collapse: collapse;
    &__context {
      width: 60%;
    }
    &__author {
      width: 10%;
    }
    &__rating {
      width: 5%;
    }
  }
  &__table thead {
    line-height: 2.5;
    border-bottom: 2px solid black;
  }
  &__table tbody tr {
    line-height: 2.5;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid gray;
  }
  &__paginationArea {
    height: 40px;
    min-height: 40px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &__buttonArea {
    margin-bottom: 16px;
  }
  &__tableDate {
    text-align: center;
  }
  &__tableThumbs {
    text-align: center;
  }
}