.bulletinCard {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    &__header {
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid gray;
        margin-bottom: 16px;
        &__img {
            width: 180px;
            height: 280px;
            margin-bottom: 16px;
        }
        &__title {
            width: 50%;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
            box-sizing: border-box;
            font-weight: bold;
            font-size: large;
            justify-content: center;
        }
        &__explain {
            width: 50%;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
            box-sizing: border-box;
            justify-content: center;
        }
        &__timestamp {
            margin-bottom: 16px;
        }
    }

    &__body {
        width: 60vw;
        display: flex;
        flex-direction: column;
        &__rating {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 16px;
            padding-bottom: 16px;
            border-bottom: 1px solid gray;
        }
        &__text {
            min-height: 50vh;
        }
        &__like {
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px 0;
            border-top: 2px solid gray;
            div {
                margin-top: 8px;
            }
        }
        &__button {
            margin-top: 16px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}