@import "Styles/variable.scss";
.infoCard {
  height: 100%;
  background-color: $mainColor;
  border-radius: 25px;
  margin: 16px 0 16px 0;

  &__wrapper {
    background-color: white;
    padding:0 16px 0 16px;
  }
  &__top {
    border-radius: 25px;
    height: 40vh;
    width: 100%;
    display: flex;
    background-color: $mainColor;
    justify-content: center;
    // align-items: flex-end;
    &__line {
      position: absolute;
      top: 25vh;
      height: 2px;
      width: 100%;
      background-color: $darkColor;
    }
    &__profile {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__nickname {
        margin-bottom: 16px;
        color: white;
        font-size: 2rem;
      }
    }
    &__btn {
      display: flex;
      justify-content: space-evenly;
      width: 50%;
      margin-top: 16px;
      gap: 10px;

      > button {
        width: 70px;
        height: 70px;
        border-bottom: 2px solid white;
        border-radius: 0;
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      > button:hover {
        width: 70px;
        height: 70px;
        transition: all 0.5s;
      }
    }
    &__friendSearch {
      width: 50%;
      display: flex;
      background-color: white;
      border-radius: 25px;
      padding: 5px;
      align-items: center;
      &__input {
        padding-left: 8px;
      }
    }
  }
}
