@import "Styles/variable.scss";
.mypage {
  margin-top: 70px;
  display: flex;
  width: 100%;
  background-color: $lightColor;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.friendPage {
  margin-top: 70px;
  //background-color: $mainColor;
}
