@import "Styles/variable.scss";
.detail {
  margin-top: 70px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  &__list {
    width: 80vw;
    display: grid;

    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;

    margin: 30px 0 30px 0;

    &__trans__button, &__review__button{
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }
    
    &__type {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 100%;
      border-bottom: 2px solid;
    }
    &__one {
      width: 100%;
        display: flex;
        color: gray;
        line-height: 2.5;
        justify-content: space-between;
        border-bottom: 1px solid gray;
    }
    &__title {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  > button {
    font-size: 1rem;
    color: red;
    background-color: $mainColor;
  }
  // &__title {
  //   display: flex;
  //   width: 70%;
  //   justify-content: space-between;
  //   > div {
  //     font-size: 2rem;
  //   }
  // }
  // &__trans {
  //   display: flex;

  //   justify-content: space-around;
  //   &__wrapper {
  //     display: flex;
  //     flex-direction: column;
  //   }
  //   &__register {
  //     position: -webkit-sticky;
  //     position: sticky;
  //     height: 20%;
  //     top: 100px;
  //   }
  // }
}
.toTop {
  position: -webkit-sticky;
  position: sticky;
  // right: 0;
  // height: 20%;
  top: 90vh;
  background-color: antiquewhite;
  width: 100%;
  height: 30px;
  margin-top: 20px;
}
.starRating {
  display: flex;
  align-items: center;
  justify-content: center;
}
