@import "Styles/variable.scss";

.paginationButton {
  display: flex;
  font-weight: bold;
  background-color: $mainColor;
  border-radius: 50px;

  > div {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 50px;

    color: white;
  }

  &__isSelected {
    background-color: $darkColor;
  }
  &__isNotSelected {
    background-color: $mainColor;
  }
}
